#login-div{
  width: 100%;
  height: 100%;
  background: #000;
  /*padding-top: 200px;*/
}
.login{
  position: absolute;
  left: 50%;
  top :50%;
  width: 35rem;
  height: 35rem;

  margin-top: -17.5rem;
  margin-left: -17.5rem;

}
.title{
  width: 100%;
  height: 6rem;
  color: rgba(237, 237, 237,1);
  display: inline-block;
  animation:myfirst2 8s;

}
.title-div{
  font-style:  italic;
  font-size: 5rem;

}
.el-icon{
  color: #fff;
  font-size: 2.5rem;
}
.name-div{
  margin-top: 8rem;
  width: 100%;
  height: 12rem;
}
.name{
  width:100%;
  height: 5rem;
  line-height: 5rem;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  /*border-bottom: 2px solid #ededed;*/

  box-sizing: border-box;

}
.name-input{
  outline-style: none;
  width: 80%;
  margin-left: 1rem;
  font-size: 2.5rem;
  height:100%;
  border: none;
  background: #000000;
  color: #ffffff;
  box-sizing: border-box;

}
.bottom-line{
  width: 100%;
  height: 0.2rem;
  background: #ededed;
  animation:myfirst 3s;
  padding: 0;
  margin: 0;
}
.bottom-fline{
  width: 100%;
  height: 0.2rem;
  background: #ededed;
  animation:myfirst1 3s;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
}
@keyframes myfirst
{
  from {width:0;}
  to {width:100%;}
}
@keyframes myfirst2
{
  from {color: rgba(237, 237, 237,0)}
  to {color: rgba(237, 237, 237,1)}
}
@keyframes myfirst1
{
  from {
    width:0;
    left: 100%;
  }
  to {
    width:100%;
    left: 0;
  }
}
.login-btn-div{
  margin-top: 4rem;
  width: 100%;
  height: 5rem;
}
.login-btn-div  i{
  color: #ededed;
  font-size: 3.5rem;
  border: 1px solid #ededed;
  border-radius: 50%;
  cursor: pointer;
}
